<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>node {
   def mvnHome
    // for display purposes
    // Get some code from a GitHub repository
    git &apos;https://github.com/jglick/simple-maven-project-with-tests.git&apos;
    // Get the Maven tool.
    // ** NOTE: This &apos;M3&apos; Maven tool must be configured
    // **       in the global configuration.           
    mvnHome = tool &apos;M3&apos;
    
    
    // Run the maven build
    withEnv([&quot;MVN_HOME=$mvnHome&quot;]) {
     if (isUnix()) {
        sh &apos;&quot;$MVN_HOME/bin/mvn&quot; -Dmaven.test.failure.ignore clean package&apos;
     } else {
        bat(/&quot;%MVN_HOME%\bin\mvn&quot; -Dmaven.test.failure.ignore clean package/)
     }
    }
    
    
    junit &apos;**/target/surefire-reports/TEST-*.xml&apos;
    archiveArtifacts &apos;target/*.jar&apos;

}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>